:root
{
--value: 0deg;
}
.image {
  display:block;
  margin-left: auto;
  margin-right: auto;

}
.play
{
left:260px;
top:650px;
position: absolute;
background-color:black;
color: white;
border-color: red;
}
.play:hover{
  opacity:100%;
  background: black;
}
.payout{
  left:250px;
  top:700px;
  position: absolute;
  background-color:black;
  color: white;
  border-color: red;
}
.payout:hover{
  opacity:100%;
  background: black;
}
.chps
{
font-size: 40px;
position: absolute;
left:670px;
top:150px;
}
.numchips{
  position:absolute;
  left: 145px;
  top: -37px;
}
.betplaced{
  position:absolute;
  left: 245px;
  top: -40px;
  width: 250px;
}
.amountBet{
  position: absolute;
  left: 500px;
  top: -38px;

}
.winningnums{
  position: absolute;
  left: 575px;
  top: -38px;

}
.winnings{
  position: absolute;
  left: 790px;
  top: -35px;

}
.sphere
{
  width:12px;
  height:12px;
  left: 281px;
  top: 397px;
  position: absolute;
  animation: orbit cubic-bezier(0,0,.2,1) 10s;
  animation-fill-mode: forwards;
  background: white;
  border-radius: 50%;
  border-color: black;
  z-index: 1;
}
.table
{
left: 650px;
top: 220px;
width: 847px;
height: 439px;
position:absolute;
}
.center
{
  left: 100px;
  top: 225px;
  position: absolute;
  width: 376px;
  height: 353;
}
body {
  background-color: #016600;
}
@keyframes orbit
{
from { 	transform: rotate(0deg) translateX(150px); }
to   {  transform: rotate(calc( var(--value) * 1deg)) translateX(85px); }
}
.zero
{
  background:none;
  width:45px;
  height:133px;
  border-width: 0px;
  opacity:80%;
}

.single{
  background: none;
  width:47px;
  height:75px;
  border-width: 0px;
  opacity:80%;
}

.single1{
  background: none;
  width:51px;
  height:70px;
  opacity:80%;
}

.single2{
  background: none;
  width:49.5px;
  height:75px;
  border-width: 0px;
  opacity:80%;
}

.two
{
background: none;
width:47px;
height:20px;
border-width:0px;
  opacity:80%;
}
.two1
{
background: none;
width:11px;
height:75px;
border-width:0px;
  opacity:80%;
}
button:hover{
  background: grey;
  opacity:80%;
}
.two2
{
background: none;
width:49.6px;
height:20px;
border-width:0px;
  opacity:80%;
}
.threenum{
  display:grid;
  grid-template-columns: repeat(12  ,1fr);
  position:absolute;
  left:719px;
  top:210px;
  width:705px;

}
.three{
  background: none;
  width:58px;
  height: 20px;
  border-width: 0px;
  text:"hello";
}
.four{
  background:none;
  width:3px;
  height:20px;
  border-width: 0px;
}
.doz{
  background: none;
  width:235px;
  height: 53px;

}

.BB{
  background: none;
  width:117px;
  height: 53px;

}
.col{
  background:none;
  width:56;
  height:88 ;
}
.zeros
{
  display:grid;
  grid-template-rows: repeat(2  ,1fr);
  position:absolute;
  height:269px;
  left:673px;
  top:232px;

}
.buymorered{
  background-color: red;
  color:white;
  width: 100px;
  height: 50px;
  font-size: 20px;
}
.buymorered:hover{
  opacity:100%;
  background: red;
}
.buymoreblack{
  background-color: black;
  color:white;
  width: 100px;
  height: 50px;
  font-size: 20px;
}
.buymoreblack:hover{
  opacity:100%;
  background: black;
}
.buychiptext{
  position: absolute;
  left: 711px;
  top: 635px;
  font-size: 20px;
}
.morechips{
  position: absolute;
  left: 711px;
  top: 700px;
}
.singletop{
  position:absolute;
  display:grid;
  grid-template-columns: repeat(12  ,1fr);
  width: 712px;
    left: 718px;
    top: 233px;
}
.singlemid{
  position:absolute;
  display:grid;
  grid-template-columns: repeat(12 ,1fr);
  width: 712px;
    left: 718px;
    top: 330px;
}
.singlebot{
  position:absolute;
  display:grid;
  grid-template-columns: repeat(12  ,1fr);
  width: 712px;
    left: 718px;
    top: 420px;
}
.dozen{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  position:absolute;
  width:702px;
  left:717px;
  top:498px;
}
.bottombets
{
  display:grid;
  grid-template-columns: repeat(6,1fr);
  position:absolute;
  width:705px;
  left:717px;
  top:553px;

}
.column
{
  display:grid;
  grid-template-rows: repeat(3,1fr);
  position:absolute;
  height: 262px;
  left:1425px;
  top:233px;
}
.twonumtop
{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  position:relative;
  top:-69px;
}
.twonummid{

    display: grid;
    grid-template-columns: repeat(12,1fr);

}
.twonumbotom
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position:relative;
    top:69px;

}
.twonumbetsV{
  width: 707px;
  top:336px;
  left:770px;
  position: absolute;
  z-index: 1;
}
.twonumtopH
{
    display: grid;
    grid-template-columns: repeat(24,1fr);
    position:relative;
    top:64px;
    left:-28px;
}

.twonumbotH
{
    display: grid;
    grid-template-columns: repeat(24,2fr);
    position:relative;
    top:-45px;
    left:-28px;
}
.twonumbetsH{
  display: grid;
  grid-template-columns: repeat(23,1fr);
  width: 675px;
  top:233px;
  left:721.4px;
  position: absolute;
  z-index: 1;
}
.fourbets
{
  width: 704px;
  height: 439px;
  top:356px;
  left:799px;
  position: absolute;
  z-index: 1;
}
.fourbets1
{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  position:relative;
  top:-45px;
  left:-28px;
}

.fourbets2
{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  position:relative;
  top:25px;
  left:-28px;
}
.betamount{
  position: absolute;
  top: 620px;
  left: 1170px;
}
